[user]
	name = max2oi
	email = max2oi.xiao@gmail.com
[core]
	excludesfile = /Users/admin/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/admin/.stCommitMsg
