"*":
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 13
    tabLength: 4
  "exception-reporting":
    userId: "f68287cb-64d8-49d7-b4cf-09f36efbaca9"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
